.paper{
    padding:10px;
}

.class-select{
    padding: 20px;
    
}
.name-select{
    padding: 20px;
}
.month-select{
    padding: 20px;
}
.outer{
    padding: 10px;
}
.report{
    text-align: center;
}
