.card1{

    background: whitesmoke;
    /* #FCF3CF; */
    width: 500px;
    height:700px;
    margin:auto;
    
    border-radius:10px;
    display: grid;
    grid-template-rows:1fr 4fr;
    padding: 5px;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}
.text{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button-group{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}
.b{
    margin-left: 150px;
}
.a,.c{
    margin-left:30px;
}

